.banner{
    background-image: url(https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80);
    @media (min-width: 992px){
        background-image: url(https://images.unsplash.com/photo-1588868478780-508f035f7562?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    }
    .bannerSlogan{
        position: absolute;
        color: white;
        top: 50%;
        @media (min-width: 992px){
            transform: translate(0, -60%);
            top: 65%;
            font-size: 36px;
        }
        background-color: rgba(0, 0, 0, 0.6);
        padding: 50px;
        border-radius: 40px;
        font-size: 20px;
    }
    .typeAnime {
        text-align: center;
        width: 100%;
        border-right: .05em solid;
        overflow: hidden;
        white-space: nowrap;
        animation: type 3s steps(26), blink 0.5s infinite alternate;
        -webkit-animation: type 3s steps(26), blink 0.5s infinite alternate;
        
    }
    @keyframes type {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
    }
    @keyframes blink {
        from {
          border-color: transparent;
        }
        to {
          border-color: #ffffff;
        }
    }
}
.animated {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100px);
}
.fadeIn {
  opacity: 1;
  transform: translateX(0);
}
.animatedY {
  opacity: 0;
  transition: all 1s;
  transform: translateY(-100px);
}
.fadeInY {
  opacity: 1;
  transform: translateY(0);
}

// 以下為navbar效果
.navbar{
  .navbar-brand{
    font-size: 20px;
    font-weight:bold
  }
  .nav-item{
    font-size: 20px;
    font-weight:bold
  }
  .a-hover:hover{
    color:#669999 !important;
  }
}

// 產品列表標題超過2行用..點表示
.webkit-line-clamp{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.4em;
}


//優惠券
.coupon {
  position: absolute;
  width: 360px;
  height: 160px;
  margin: auto;
  background-image: radial-gradient( circle at 1px 8px,
  transparent 6px, #ff9e6d 6px, #ff9e6d 0px),
  radial-gradient( circle at 180px 8px,
  transparent 6px, #ff9e6d 6px, #ff9e6d 0px);
  background-size: 180px 18px;
  background-position: 0 0, 180px 0;
  background-repeat: no-repeat repeat;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  line-height: 160px;
  padding-left: 40px;
  box-sizing: border-box;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    left: 200px;
    top: 0;
    bottom:0;
    width: 0;
    border-left: 1px dashed #fff;
  }
  &::after {
    position: absolute;
    content: "立即領取";
    font-size: 26px;
    width: 70px;
    top: 50%;
    right: 2%;
    transform:
    translate(-50%, -50%);
    line-height: 40px;
    letter-spacing: 5px;
  }
  i {
    cursor: pointer;
    position: absolute;
    color: #000;
    top: -100px;
    right: -30px;
    transform: rotate(135deg);
    animation: scissorCut .7s infinite;
  }
  @keyframes scissorCut {
  0% {
    transform: rotate(145deg);
  }
  50% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(145deg);
  }
}
}

.index-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(204, 224, 222, .4);
  h3 {
    background: linear-gradient(transparent 60%, pink 40%);
  }
}



.mainNavbar{
  transition-duration: 1s;
}
.img{
  object-fit: cover;
}
.bgImg{
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bgCover{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.1);
  position: absolute;
}